<div class="container">
	<br>


	<div class="icons">
		<div class="row">
			<div class="col">
				<i class="small material-icons">settings</i>
			</div>
			<div class="col">
				<i class="small material-icons">call_made</i>
			</div>
			<div class="col">
				<i class="small material-icons">view_list</i>
			</div>
		</div>

		<div class="header-wrapper">
			<div class="row">
				<div class="user-name item">
					<h3>
						Avril Anne Dunleavy
					</h3>
				</div>


				<div class="pull-right text-right">
					<div class="profile-image left-align">
						<%=image_tag("pic.png",class: "responsive-image circle")%>
					</div>
				</div>

			</div>
		</div>


		<div class="chip">
			Skills
		</div>

		<div class="chip">
			Projects
		</div>

		<div class="chip">
			Resume
		</div>

		<br>
		<br>


		<div class="row">
			<div class="item well">
				<div class="card responsive" style="width: 30rem;">
					<%= image_tag('ruby.png', :class=> 'card-img-top responsive-image')%>
				</div>
				<h4> Ruby </h4>
			</div>
			<div class="item well">
				<div class="card responsive" style="width: 30rem;">
					<%= image_tag('javascript.png', :class=> 'card-img-top responsive-image')%>
				</div>
				<h4> Javascript </h4>
			</div>
			<div class="item well">
				<div class="card responsive" style="width: 30rem;">
					<%= image_tag('html.png', :class=> 'card-img-top responsive-image')%>
				</div>
				<h4> HTML </h4>
			</div>
			<div class="item well">
				<div class="card responsive" style="width: 30rem;">
					<%= image_tag('css.png', :class=> 'card-img-top responsive-image')%>
				</div>
				<h4> CSS </h4>
			</div>
			<div class="item well">
				<div class="card responsive" style="width: 30rem;">
					<%= image_tag('rails.png', :class=> 'card-img-top responsive-image')%>
				</div>
				<h4> Rails </h4>
			</div>
			<div class="item well">
				<div class="card responsive" style="width: 30rem;">
					<%= image_tag('ajax.png', :class=> 'card-img-top responsive-image')%>
				</div>
				<h4> AJAX </h4>
			</div>
			<div class="item well">
				<div class="card responsive" style="width: 30rem;">
					<%= image_tag('jquery.png', :class=> 'card-img-top responsive-image')%>
				</div>
				<h4> JQuery </h4>
			</div>
			<div class="item well">
				<div class="card responsive" style="width: 30rem;">
					<%= image_tag('sql.png', :class=> 'card-img-top responsive-image')%>
				</div>
				<h4> SQL </h4>
			</div>
			<div class="item well">
				<div class="card responsive" style="width: 30rem;">
					<%= image_tag('postgres.png', :class=> 'card-img-top responsive-image')%>
				</div>
				<h4> PostgreSQL </h4>
			</div>
			<div class="item well">
				<div class="card responsive" style="width: 30rem;">
					<%= image_tag('agile.png', :class=> 'card-img-top responsive-image')%>
				</div>
				<h4> Agile </h4>
			</div>
			<div class="item well">
				<div class="card responsive" style="width: 30rem;">
					<%= image_tag('heroku.png', :class=> 'card-img-top responsive-image')%>
				</div>
				<h4> Heroku </h4>
			</div>
		</div>
	</div>