<div class="education-pins">
<div class="row">
	<div class="item well hoverable">
		<div class="card responsive" style="width: 23rem;">
			<%= image_tag('bates.png', :class=> 'card-img-top responsive-image')%>
		</div>
		<h4> Bates College </h4>
	</div>
	<div class="item well hoverable">
		<div class="card responsive" style="width: 23rem;">
			<%= image_tag('udemy.png', :class=> 'card-img-top responsive-image')%>
		</div>
		<h4> Udemy </h4>
	</div>
	<div class="item well hoverable">
		<div class="card responsive" style="width: 23rem;">
			<%= image_tag('dev.png', :class=> 'card-img-top responsive-image')%>
		</div>
		<h4> Dev Bootcamp </h4>
	</div>
	<div class="item well hoverable">
		<div class="card responsive" style="width: 23rem;">
			<%= image_tag('stack.png', :class=> 'card-img-top responsive-image')%>
		</div>
		<h4> Stack Overflow </h4>
	</div>
	<div class="item well hoverable">
		<div class="card responsive" style="width: 23rem;">
			<%= image_tag('code.png', :class=> 'card-img-top responsive-image')%>
		</div>
		<h4> CodeAcademy </h4>
	</div>
</div>
</div>