<div class="skills-pins">
<div class="container">
	<div class="row">
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('ruby.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> Ruby </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('javascript.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> Javascript </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('html.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> HTML </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('css.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> CSS </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('rails.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> Rails </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('ajax.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> AJAX </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('jquery.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> JQuery </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('sql.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> SQL </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('postgres.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> PostgreSQL </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('agile.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> Agile </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('heroku.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> Heroku </h4>
		</div>
	</div>
	</div>
</div>