<!DOCTYPE html>
<html>
<head>
	<title>Avril</title>
	<!--Import jQuery before materialize.js-->





	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

	<!-- Compiled and minified JavaScript -->


	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" href="<%= asset_url 'favicon.ico' %>">
	<link rel="icon"
	type="image/ico"
	href="<%= asset_url 'favicon.ico' %>">
	
</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper white">
				<%= image_tag("icon.png")%>
				<a class="brand-logo">
				</a>
				<ul class="right hide-on-med-and-down">
					<li><a class="icon-back tooltipped data-position="bottom" data-delay="50" data-tooltip="(917)-684-9556"" ><i class="material-icons">phone</i></a></li>


					<li><a class="icon-back tooltipped data-position="bottom" data-delay="50" data-tooltip="avril@fdunleavy.com"" ><i class="material-icons">email</i></a></li>


					<li><a class="icon-back tooltipped data-position="bottom" data-delay="50" data-tooltip="http://www.github.com/avrilanne/pinterest-avril""><i class="material-icons">code</i></a></li>


				</ul>
			</div>
		</nav>
	</div>



	<div class="container">
		<br>


		<div class="icons">
			<div class="row">
				<div class="col">
					<i class="small material-icons">settings</i>
				</div>
				<div class="col">
					<i class="small material-icons">call_made</i>
				</div>
				<div class="col">
					<i class="small material-icons">view_list</i>
				</div>
			</div>

			<div class="header-wrapper">
				<div class="row">
					<div class="user-name item">
						<h3>
							Avril Anne Dunleavy
						</h3>
						<p>
							Phone: (917)-684-9556
						</p>
						<p>
							Email: avril@fdunleavy.com
						</p>
						<p class="icon-back">
							<a href="github.com/avrilanne" class="icon-back"> Github: avrilanne</a>

						</p>
					</div>


					<div class="pull-right text-right">
						<div class="profile-image left-align">
							<%=image_tag("pic.png",class: "responsive-image circle hoverable")%>
						</div>
					</div>

				</div>
			</div>

			<div class="chip skills active">
				<a><%= link_to "Skills", skills_path, remote: true, class: "chipper" %></a>
			</div>

			<div class="chip education">
				<a><%= link_to "Education", education_index_path, remote: true, class:"chipper" %></a>
			</div>

			<div class="chip experience">
				<a><%= link_to "Experience", experience_index_path, remote: true, class:"chipper" %></a>
			</div>

			<div class="chip projects">
				<a><%= link_to "Projects", projects_path, remote: true, class: "chipper" %></a>
			</div>


			<br>
			<br>

			<div class="pins">
				<%= render template: "skills/_skills"%>
<!-- 				<#%#= render template: "projects/_projects"%>
				<#%#= render template: "education/_education"%>
				<#%#= render template: "experience/_experience"%> -->
			</div>
		</div>

	</body>
	</html>
